<script src="/bower_components/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>

<script>
	angular.module("editWordApp", [])
		.controller("editWordCtrl", function($scope, $http){
			
			$scope.words = [];
			$scope.loadWordList = function(){
				$http.get("/word/list")
					.success(function(data){
						$scope.words = data;
					})
					.error(function(data){
						console.log("Failed to list words", data);
					});
			}

			$scope.updateWord = function(word){
				$http.post("/word/list")
					.success(function(data){
						
					})
					.error(function(data){
						console.log("Failed to update word", word, data);
					})
			}

			$scope.loadWordList();
		})

</script>

<style>
	p {
		margin-top: 10px;
	}
	.row.header {
		font-weight: bolder;
		font-size: 24px;
	}
	.row.odd {
		background-color: rgba(238, 238, 238, 0.37);
	}
	.row {
		cursor: pointer;
		word-wrap: break-word;
		font-size: 18px;

	}
	.row:hover {
		background-color: #eee;	
	}
</style>

<div data-ng-app="editWordApp" data-ng-controller="editWordCtrl">
	<div class="jumbotron">
		<div class="container">
			<h1>Edit word</h1>
		</div>
	</div>

				<!-- 
				<i class="glyphicon glyphicon-remove-sign"></i>
			-->
	<div class="container rows">
		<div data-ng-show="!selectedWord">
			<div class="row header">
				<div class="col-md-4">English</div>
				<div class="col-md-4">Sweidsh</div>
				<div class="col-md-4">German</div>
			</div>
			<div class="row" 
				data-ng-repeat="word in words" 
				data-ng-class="{ odd : $index % 2 == 0}"
				data-ng-click="$parent.selectedWord = word">
				<div class="col-md-4">
					{{word.word}}
				</div>
				<div class="col-md-4">
					{{word.translations.sv}}
				</div>
				<div class="col-md-4">
					{{word.translations.de}}
				</div>
			</div>
		</div>

		<div data-ng-show="selectedWord">
			<div class="col-md-4">
				<h2>Create a new word</h2>
				<p>Enter a new word in english.</p>
				<input data-ng-model="selectedWord.word" class="form-control" type="text" />
				<p>Optionally add a description for the word.</p>
				<textarea style="resize:vertical;" class="form-control" type="text"></textarea>
			</div>
			<div class="col-md-4">
				<h2>Translations</h2>
				<p>Swedish translation.</p>
				<input data-ng-model="selectedWord.translations.sv" class="form-control" type="text" />
				<p>German translation.</p>
				<input data-ng-model="selectedWord.translations.de" class="form-control" type="text" />
			</div>
			<div class="col-md-4">
				<h2>Done?</h2>
				<p>Create the word with the given translatios.</p>
				<div class="btn btn-primary" data-ng-click="selectedWord = undefined">Go back</div>

				<p>Create the word with the given translatios.</p>
				<div class="btn btn-success" data-ng-click="updateWord(selectedWord)">Upate word</div>

				<p>Create the word with the given translatios.</p>
				<div class="btn btn-danger" data-ng-click="removeWord(selectedWord)">Delete word</div>
			</div>
			
		</div>

	</div>
</div>